{% include 'header.html.twig' %}

<!-- {//{ placer la variable  }} -->
<div class="card">
<h1>{{ article.title }}</h1>
<p>{{ article.content }}</p>
<em>{{ article.id }}</em>
</div>
{% include 'footer.html.twig' %}